<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">

<body id="page-top">
<div layout:fragment="content">
    <header class="masthead" style="background-image:url('../assets/img/intro-bg.jpg');">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Epidemic Simulator</h1>
                        <p class="intro-text">Welcome to Epidemic Simulator, In this application you can create and test your simulation in different environments.</p><a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About Epidemic Simulator</h2>
                    <p>ToDo</p>
                    <p>ToDo</p>
                    <p>ToDo</p>
                </div>
            </div>
        </div>
    </section>
    <section id="download" class="download-section content-section text-center" style="background-image:url('assets/img/downloads-bg.jpg');">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h1>More info Below</h1>
                <p>Check this out</p>
            </div>
        </div>
    </section>
</div>
</body>

</html>