<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">

<body id="page-top">
<div layout:fragment="content">
    <header class="masthead" style="background-image:url('../assets/img/intro-bg.jpg');">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Epidemic Simulator</h1>
                        <a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 mx-auto">
            <p class="intro-text">Feel free to play around with the simulation.</p>
            <p class="intro-text">Start by choosing an environment to simulate your virus in. Select the virus variables with the sliders and check boxes in the upper left hand side, then click start simulation.</p>
            <p class="intro-text">You can move the camera around with the arrow keys, the scroll wheel, and click on an agent to have the camera follow it.</p>
			</div>
			<iframe src="https://i.simmer.io/@Jhushaw/epidemic-simulator" style="width:1280px;height:720px"></iframe>
            
            </div>
        </div>
</div>
</body>

</html>